.container {
  display: flex;
  height: 100vh;
}

.left-section {
  width: 70%;
  padding: 20px;
  background-color: #ffffff;
  overflow-y: auto;
}

.right-section {
  width: 30%;
  padding: 20px;
  background-color: #f4f4f4;
  overflow-y: auto;
}

a {
  text-decoration: none;
}

.menu-link {
  color: cornflowerblue;
  font-size: 16px;
  line-height: 20px;
}

.h1-style {
  color: #222222;
  font-size: 28px;
  line-height: 36px;
  font-weight: bold;
}

.paragraph-style {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #7D7987;
}

.h2-style {
  color: coral;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 80px;
}